@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dark-theme body {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fffffe;
    background: #0f0e17;
}

.dark-theme a {
    text-decoration: none;
}

.dark-theme .container {
    padding-top: 20px;
}

.dark-theme .jumbotron {
    height: 20vh;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #4221ff 100%);
}

@media (max-width: 740px) {
    .dark-theme .jumbotron {
        height: 30vh;
        width: 100%;
        padding-top: 40px;
        text-align: center;
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #4221ff 100%);
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .dark-theme .jumbotron {
        height: 30vh;
        width: 100%;
        padding-top: 40px;
        text-align: center;
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #4221ff 100%);
    }
}

.dark-theme .jumbotron h1 {
    color: #fffe;
    font-weight: bold;
}

.dark-theme .jumbotron h4 {
    color: #fffe;
    font-family: 'Ephesis', cursive;
    font-size: 30px;
}

.dark-theme .jumbotron h4 span {
    color: #fffe;
    font-family: 'Poppins', sans-serif;
}

.dark-theme .rounded-lg {
    border-radius: 1rem !important;
    color: black;
}

.dark-theme .text-small {
    font-size: 0.9rem !important;
}

.dark-theme .custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
}

.dark-theme .text-uppercase {
    letter-spacing: 0.2em;
}

.dark-theme .bg-status-waring {
    background-color: yellow;
}

.dark-theme .bg-status-ok {
    background-color: lime;
}

.dark-theme .bg-status-bad {
    background-color: red;
}

.dark-theme .green {
    color: lime;
}

.dark-theme .red {
    color: red;
}

.dark-theme .copy-left {
    font-weight: bold;
    font-size: 18px;
    float: left;
}

.dark-theme .copy-right {
    font-weight: bold;
    font-size: 18px;
    float: right;
}

.dark-theme .box a {
    text-decoration: none;
    color: black;
}

.dark-theme .box a:hover {
    text-decoration: none;
    color: lime;
}